# Space Race Data Analysis

![Dataset Cover](./dataset-cover.jpg)

[All Space Missions from 1957 - LACLA3D on www.kaggle.com - Data Set Link](https://www.kaggle.com/datasets/agirlcoding/all-space-missions-from-1957)

https://www.kaggle.com/datasets/agirlcoding/all-space-missions-from-1957

## Setup

> Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

> Load the dataset

In [4]:
file_path = "Space_Corrected.csv"
space_data = pd.read_csv(file_path)

> First 5 Rows (Head)

In [6]:
space_data.head()

,#,Mission #,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020.0
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020.0
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020.0
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020.0
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020.0

> Last 5 Rows (Tail)

In [7]:
space_data.tail()

,#,Mission #,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958.0
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,1958.0
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957.0
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,1957.0
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,1957.0

> Statistics Summary

In [8]:
space_data.describe()

                 #    Mission #         Year
count  4324.000000  4324.000000  4198.000000
mean   2161.500000  2161.500000  1987.455693
std    1248.375611  1248.375611    18.085370
min       0.000000     0.000000  1957.000000
25%    1080.750000  1080.750000  1972.000000
50%    2161.500000  2161.500000  1985.000000
75%    3242.250000  3242.250000  2002.000000
max    4323.000000  4323.000000  2020.000000

> Data Types & Missing Values

In [9]:
space_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #               4324 non-null   int64
 1   Mission #       4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4198 non-null   datetime64[ns, UTC]
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7    Rocket         964 non-null    object
 8   Status Mission  4324 non-null   object
 9   Year            4198 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(6)
memory usage: 337.9+ KB