# Shopping Trends Data Analysis

![Shopping Trends Cover Image](dataset-cover.png)

[Customer Shopping Trends Dataset - iamsouravbanerjee on www.kaggle.com - Dataset Link](https://www.kaggle.com/datasets/iamsouravbanerjee/customer-shopping-trends-dataset/data?select=shopping_trends.csv)

https://www.kaggle.com/datasets/iamsouravbanerjee/customer-shopping-trends-dataset/data?select=shopping_trends.csv

## Setup

> Import Libraries

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

> Load the dataset

In [9]:
file_path = "shopping_trends.csv"
trends_data = pd.read_csv(file_path)

> First 5 Rows (Head)

In [10]:
trends_data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

> Last 5 Rows (Tail)

In [11]:
trends_data.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

> Sample 10 Rows

In [12]:
trends_data.sample(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
1980,1981,51,Male,Sandals,Footwear,94,Iowa,M,Green,Winter,4.4,No,Venmo,Store Pickup,No,No,25,PayPal,Fortnightly
1876,1877,54,Male,Skirt,Clothing,36,Illinois,M,Gray,Fall,2.6,No,Credit Card,Standard,No,No,20,Venmo,Quarterly
1786,1787,45,Male,Jacket,Outerwear,34,Maryland,M,Brown,Spring,4.6,No,Debit Card,2-Day Shipping,No,No,22,Venmo,Monthly
2128,2129,62,Male,Coat,Outerwear,47,New Mexico,L,Cyan,Fall,2.7,No,PayPal,2-Day Shipping,No,No,21,PayPal,Weekly
3267,3268,37,Female,Hoodie,Clothing,45,Idaho,L,Pink,Winter,3.0,No,Debit Card,Store Pickup,No,No,42,Credit Card,Quarterly
2221,2222,25,Male,Shorts,Clothing,88,Kansas,XL,White,Fall,3.0,No,Debit Card,Free Shipping,No,No,34,Credit Card,Annually
3241,3242,50,Female,Handbag,Accessories,58,Connecticut,M,Lavender,Summer,4.4,No,Credit Card,Store Pickup,No,No,30,PayPal,Quarterly
864,865,51,Male,Jeans,Clothing,59,Kentucky,S,Charcoal,Winter,3.9,Yes,PayPal,Next Day Air,Yes,Yes,5,PayPal,Annually
2622,2623,63,Male,Backpack,Accessories,75,New Hampshire,M,Yellow,Spring,4.9,No,Venmo,2-Day Shipping,No,No,15,Credit Card,Annually
766,767,57,Male,Gloves,Accessories,48,Nevada,M,Cyan,Winter,3.6,Yes,PayPal,Next Day Air,Yes,Yes,13,PayPal,Monthly

> Data Types & Missing Values

In [13]:
trends_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

> Statistics Summary

In [14]:
trends_data.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

> Unique Values

In [15]:
trends_data.nunique()

Customer ID                 3900
Age                           53
Gender                         2
Item Purchased                25
Category                       4
Purchase Amount (USD)         81
Location                      50
Size                           4
Color                         25
Season                         4
Review Rating                 26
Subscription Status            2
Payment Method                 6
Shipping Type                  6
Discount Applied               2
Promo Code Used                2
Previous Purchases            50
Preferred Payment Method       6
Frequency of Purchases         7
dtype: int64